/* variables */
/* layout */
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.justify-block {
  text-align: justify; }
  .justify-block::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0px;
    overflow: hidden; }

.col-1 {
  max-width: 70px; }

.col-2 {
  max-width: 170px; }

.col-3 {
  max-width: 270px; }

.col-4 {
  max-width: 370px; }

.col-5 {
  max-width: 470px; }

.col-6 {
  max-width: 570px; }

.col-7 {
  max-width: 670px; }

.col-8 {
  max-width: 770px; }

.col-9 {
  max-width: 870px; }

.col-10 {
  max-width: 970px; }

.col-11 {
  max-width: 1070px; }

.col-12 {
  max-width: 1170px; }

.col-6 {
  min-width: 500px; }

.centered-col {
  margin: 0 auto; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px; }

/* header */
.top {
  background-image: url("../img/head-bckg.jpg");
  background-size: cover;
  color: white;
  margin-bottom: 120px; }

header.main {
  margin: 0 30px;
  margin-bottom: 140px; }

.center {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  padding: 40px 0 24px; }

.top-menu {
  display: inline-block;
  padding-top: 4px;
  float: right;
  margin-left: 30px; }
  .top-menu a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase; }
  .top-menu a:hover {
    color: white; }

.top-menu__item {
  display: inline-block; }

.head-intro {
  text-align: center;
  padding-bottom: 155px;
  color: white; }
  .head-intro a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    background: #e84545;
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    padding: 15px 0;
    margin-top: 50px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600; }
  .head-intro a:hover {
    box-shadow: 0px 0px 15px #b11616;
    transition: 0.2s; }
  .head-intro h1 {
    text-transform: uppercase;
    font-size: 65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 71px; }
  .head-intro p {
    font-size: 22px;
    margin-top: 24px;
    line-height: 33px; }

.features {
  font-size: 0;
  margin-bottom: 50px; }

.feature {
  position: relative;
  width: 370px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 30px;
  margin-top: 95px; }

.feature:nth-child(3n) {
  margin-right: 0; }

.feature::before {
  content: "";
  display: block;
  height: 60px;
  position: absolute;
  top: -93px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat; }

.easy::before {
  background-position: -185px -10px;
  width: 60px;
  left: calc(50% - 30px); }

.responsive::before {
  background-position: -546px -10px;
  width: 73px;
  left: calc(50% - 36px); }

.modern::before {
  background-position: -393px -10px;
  width: 41px;
  left: calc(50% - 20px); }

.clean::before {
  background-position: -10px -10px;
  width: 56px;
  left: calc(50% - 28px); }

.ready-to-ship::before {
  background-position: -454px -10px;
  width: 72px;
  left: calc(50% - 36px); }

.free-download::before {
  background-position: -86px -10px;
  width: 79px;
  left: calc(50% - 39px); }

.feature-name {
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px; }

.feature-description {
  font-size: 14px;
  margin-bottom: 75px;
  color: #6c7279;
  line-height: 21px; }

.projects {
  font-size: 0;
  margin-bottom: 100px; }

.project-item {
  display: inline-block;
  width: 25%;
  height: 18.42vw;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  border-right: 1px solid white; }
  .project-item:hover .work-hover {
    display: block; }
  .project-item:nth-child(4n) {
    border-right: none; }

.item1 {
  background-image: url("../pictures/work1.jpg"); }

.item2 {
  background-image: url("../pictures/work2.jpg"); }

.item3 {
  background-image: url("../pictures/work3.jpg"); }

.item4 {
  background-image: url("../pictures/work4.jpg"); }

.item5 {
  background-image: url("../pictures/work5.jpg"); }

.item6 {
  background-image: url("../pictures/work6.jpg"); }

.item7 {
  background-image: url("../pictures/work7.jpg"); }

.item8 {
  background-image: url("../pictures/work8.jpg"); }

.work-hover {
  display: none;
  background: rgba(232, 69, 69, 0.9);
  width: 100%;
  height: 100%;
  position: absolute; }

.project-name, .project-description {
  font-size: 14px;
  color: white;
  position: absolute;
  left: calc(50% - 35%);
  text-align: center;
  width: 70%; }

.project-name {
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 47%; }

.project-description {
  top: 53%; }

.download {
  display: block;
  box-sizing: border-box;
  padding: 100px 0; }
  .download a {
    text-decoration: none; }
  .download h3 {
    margin-top: 0;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1; }
  .download p {
    color: #2d3033;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22.4px;
    margin: 0 0 10px; }
  .download #btn {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  .container::before {
    display: table;
    content: " "; }
  .container::after {
    display: table;
    content: " ";
    clear: both; }

.text-center {
  text-align: center; }

.col-md-8 {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto; }

.team {
  font-size: 0;
  margin: 0 30px 100px; }

.person {
  display: inline-block;
  margin: 0 2.66% 0 0;
  margin-bottom: 30px;
  width: 23%; }
  .person:nth-child(4n) {
    margin-right: 0; }
  .person .icon {
    border: 1px solid #e8ecee;
    margin-right: 4px;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat; }
  .person .fb {
    background-position: -278px 0px; }
  .person .tw {
    background-position: -670px 2px; }
  .person .in {
    background-position: -346px 1px; }

.employee-name {
  font-size: 22px;
  color: #2d3033;
  font-weight: 400;
  margin: 25px 0 8px; }

.employee-position {
  text-transform: uppercase;
  font-size: 13px;
  color: #e84545;
  margin: 0 0 25px; }

.employee-description {
  font-size: 14px;
  line-height: 21px;
  color: #6c7279;
  margin-bottom: 27px; }

.footer-info {
  background: #3a3e64;
  padding: 70px 0 100px;
  text-align: center;
  font-size: 0; }
  .footer-info h2 {
    color: white;
    margin-top: 0;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .footer-info p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5); }

address, .socials, .about {
  display: inline-block;
  vertical-align: top; }

address {
  width: 400px;
  margin-right: 70px;
  font-style: normal; }
  address p {
    line-height: 22px;
    max-width: 170px;
    margin: 0 auto; }

.socials {
  width: 230px;
  margin-right: 70px; }

.icon {
  box-sizing: border-box;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  border: 2px solid white;
  margin-right: 7px; }
  .icon:nth-child(3) {
    margin-right: 0; }
  .icon:hover {
    border-color: #cccccc; }

.footer-info .fb {
  background-position: -250px 0px; }

.footer-info .tw {
  background-position: -630px 0px; }

.footer-info .in {
  background-position: -311px 0px; }

.about {
  width: 400px; }

.copyright {
  box-sizing: border-box;
  padding-top: 28px;
  min-height: 94px;
  background-color: #313454;
  text-align: center; }
  .copyright p {
    margin: 0 0 7px;
    color: #808080; }
  .copyright p:last-child {
    margin-bottom: 0; }
  .copyright .heart {
    background: url("../img/heart.svg") no-repeat 50% 50%;
    width: 11px;
    height: 10px;
    display: inline-block; }
  .copyright span {
    color: white; }

/*# sourceMappingURL=style.css.map */
