/* variables */ 

$main-color: white;
$features-color: #6c7279;
$features-color-head: #2d3033;
$main-font-size: 14px;
$margin-layout-width: 30px;
$btn-color: #e84545;

 
/* layout */

.clearfix::after {
    content: "";
    display: table;
    clear: both; 
}

.justify-block {
    text-align: justify;
    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 0px;
        overflow: hidden;
    }
}

@function column-width($number){
  @return 840px / 12 * $number + $margin-layout-width*($number - 1);
}


@for $i from 1 to 13{
  .col-#{$i}{
    max-width: column-width($i);
  }
}
.col-6 { min-width: 500px; }
// .col-1 { margin-left: 0; }
// .col-12 { margin-right: 0; }
.centered-col { margin: 0 auto; }

body {
    font-family: 'Raleway', sans-serif;
    font-size: $main-font-size;
}
/* header */

.top {
    background-image: url("../img/head-bckg.jpg");
    background-size: cover;
    color: $main-color;
    margin-bottom: 120px;
}


header.main {
margin: 0 $margin-layout-width;
margin-bottom: 140px;
}

.center {
box-shadow: 0 1px 0 rgba(255,255,255, 0.15);
padding: 40px 0 24px;
}
.top-menu { 
    display: inline-block;
    padding-top: 4px;
    float: right;
    margin-left: $margin-layout-width;
    & a {
        color: transparentize($main-color, 0.25);
        text-decoration: none;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
    }
    & a:hover {
        color: $main-color;
    }
}


.top-menu__item {
    display: inline-block;
}


.head-intro {
    text-align: center;
    padding-bottom: 155px;
    color: $main-color;
    
    & a {
        color: inherit; 
        text-decoration: none;
        text-transform: uppercase;
        background: $btn-color;
        display: inline-block;
        box-sizing: border-box;
        width: 200px;
        padding: 15px 0;
        margin-top: 50px;
        border-radius: 2px;
        font-size: 13px;
        font-weight: 600;
    }
    
    & a:hover {
        box-shadow: 0px 0px 15px darken($btn-color, 20);
        transition: 0.2s;
    }
    
    & h1 {
        text-transform: uppercase;
        font-size: 65px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        line-height: 71px;
    }
    
    & p {
        font-size: 22px;
        margin-top: 24px;
        line-height: 33px;
    }
}


//  features 
.features { 
    font-size: 0; 
    margin-bottom: 50px;
}

.feature {
    position: relative;
    width: 370px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: $margin-layout-width;
    margin-top: 95px;
    // outline: 1px solid red;
    
}
.feature:nth-child(3n) {
    margin-right: 0;
}

.feature::before {
    content: "";
    display: block;
    height: 60px;
    position: absolute;
    top: -93px;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;

    
}

.easy::before {
    background-position: -185px -10px;
    width: 60px;
    left: calc(50% - 30px);
}

.responsive::before {
    background-position: -546px -10px;
    width: 73px;
    left: calc(50% - 36px);
}

.modern::before {
    background-position: -393px -10px;
    width: 41px;
    left: calc(50% - 20px);
}

.clean::before {
    background-position: -10px -10px;
    width: 56px;
    left: calc(50% - 28px);
}

.ready-to-ship::before {
    background-position: -454px -10px;
    width: 72px;
    left: calc(50% - 36px);
}

.free-download::before {
    background-position: -86px -10px;
    width: 79px;
    left: calc(50% - 39px);
}


.feature-name {
    font-size: $main-font-size;
    color: $features-color-head;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.feature-description {
    font-size: $main-font-size;
    margin-bottom: 75px;
    color: $features-color;
    line-height: 21px;
}

// projects
.projects { 
    font-size: 0; 
    margin-bottom: 100px;
}
.project-item {
    display: inline-block;
    width: 25%;
    height: 18.42vw;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid $main-color;
    border-right: 1px solid $main-color;
    &:hover .work-hover {
        display: block;
    }
    &:nth-child(4n) {
    border-right: none;
    }
}
 
@for $i from 1 to 9 {
    .item#{$i} {
        background-image: url("../pictures/work#{$i}.jpg");
    }

}

.work-hover {
    display: none;
    background: transparentize($btn-color, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
}

.project-name, .project-description {
    font-size: $main-font-size;
    color: $main-color;
    position: absolute;
    left: calc(50% - 35%);
    text-align: center;   
    width: 70%;    

}
.project-name {
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 47%;

}
.project-description {
    top: 53%;
}

.project-pic {

}

//download

.download {
    display: block;
    box-sizing: border-box;      
    padding: 100px 0;
    & a {
        text-decoration: none;
    }
    
    & h3 {
        margin-top: 0;
        font-size: 28px;
        color: #2d3033;
        font-weight: 300;
        margin-bottom: 10px;
        font-family: inherit;
        line-height: 1.1;
    }
    
    & p {
        color: #2d3033;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 22.4px;
        margin: 0 0 10px;
    }
    
    & #btn {
        margin-top: 30px;
        padding: 15px 40px;
        background-color: #e84545;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        border: 0;
        border-radius: 2px;
        display: inline-block;
        text-transform: uppercase;
    }
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
    &::before {
        display: table;
        content: " ";
    }
    &::after {
        display: table;
        content: " ";
        clear:both;
    }
}

.text-center {
    text-align: center;
}

.col-md-8 {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

//team
.team { 
    font-size: 0;
    margin: 0 $margin-layout-width 100px;    
}
.person {
    display: inline-block;
    margin: 0 2.66% 0 0;
    margin-bottom: $margin-layout-width;
    width: 23%;
    
    &:nth-child(4n) {
        margin-right: 0;
    }
    
    & .icon {
        border: 1px solid #e8ecee;
        margin-right: 4px;
        background-image: url("../img/spritesheet.png");
        background-repeat: no-repeat;
    }
    
    & .fb { background-position: -278px 0px; }
    & .tw { background-position: -670px 2px; }
    & .in { background-position: -346px 1px; }
    
}

.employee-name {
    font-size: 22px;
    color: $features-color-head;
    font-weight: 400;
    margin: 25px 0 8px;
}
.employee-position {
    text-transform: uppercase;
    font-size: 13px;
    color: $btn-color;
    margin: 0 0 25px;
}

.employee-description {
    font-size: $main-font-size;
    line-height: 21px;
    color: $features-color;
    margin-bottom: 27px;
}

    
// footer

.footer-info {    background: #3a3e64;
    padding: 70px 0 100px;
    text-align: center;
    font-size: 0;
    & h2 {
        color: $main-color;
        margin-top: 0;
        font-size: $main-font-size;
        text-transform: uppercase;
        margin-bottom: 20px;
        }
    & p {
        font-size: $main-font-size;
        color: transparentize($main-color, 0.5);
    }

}

address, .socials, .about { display: inline-block; vertical-align: top; }

address {
    width: 400px;
    margin-right: 70px;
    font-style: normal;
    & p {
        line-height: 22px;
        max-width: 170px;
        margin: 0 auto;
    }
}

.socials {
    width: 230px;
    margin-right: 70px;
}

.icon {
    box-sizing: border-box;
    display: inline-block; 
    width: 40px;
    height: 40px;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    border: 2px solid $main-color;
    margin-right: 7px;
    &:nth-child(3) {
        margin-right: 0;
    }
    
    &:hover {
        border-color: darken($main-color, 20);
    }
}
.footer-info .fb { background-position: -250px 0px; }
.footer-info .tw { background-position: -630px 0px; }
.footer-info .in { background-position: -311px 0px; }
.about {
    width: 400px;
}
.copyright {
    box-sizing: border-box;
    padding-top: 28px;
    min-height: 94px;
    background-color: #313454;
    text-align: center;
    & p {
        margin: 0 0 7px;
        color: #808080;
 
    }
    & p:last-child {
        margin-bottom: 0;
    }
    & .heart {
        background: url("../img/heart.svg") no-repeat 50% 50%;
        width: 11px;
        height: 10px;
        display: inline-block;
    }
    
    & span {
        color: $main-color;
    }
}
