body {
	font-size: 30px;
}

fieldset {
	display: inline-block;
	border: none;
}

select, input {
	box-sizing: border-box;
	height: 40px;
	width: 120px;
	border: 1px solid #ccc;
	border-radius: 3px;
	line-height: 35px;
	font-size: 30px;
	color: #555;
	
}

input {
	padding: 0 5px;

}