<!DOCTYPE html>
<html ng-app="BookAppDetails">

    <head>
        <meta charset="utf-8">
        <title>Карточка продукта</title>
        <script src="../libs/angular.min.js"></script>
    </head>

    <body ng-controller="SingleBookCtrl">
        <ul>
            <li>
                <h3>{{book.name | uppercase}}</h3>
                <p>{{book.author}}</p>
                <p>Страниц:
                    {{book.pages}}, цена:
                    {{book.price | currency: 'RUB'}}</p>
                <p>Жанр книги: {{book.genre}}</p>
            </li>
        </ul>

        <script src="js/single_book/app.js"></script>
        <script src="js/single_book/controllers.js"></script>

    </body>

</html>
