<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Шаг 5 / Фреймворк AngularJS / Нетология</title>
        <script src="../libs/angular.min.js"></script>

        <style>
            h1 {
                font-size: 18px;
                font-family: Arial, sans-serif;
            }
            form {
                margin-bottom: 10px;
            }
            .ng-dirty.ng-invalid {
                border-color: #FA787E;
            }

            .ng-dirty.ng-valid {
                border-color: #78FA89;
               
            }

        </style>
    </head>

    <body ng-controller="BookDetailCtrl">
    <h1>Добавляем данные в базу данных</h1>
        <form name="bookForm" novalidate>

            <input ng-model="book.name" type="text" placeholder="Название" required/>
            <input ng-model="book.author" type="text" placeholder="Автор"/>

            <input type="submit" value="Добавить" ng-click="addBook(book)" ng-disabled="bookForm.$invalid"/>
            <input type="checkbox" ng-model="content" id="show"/>
            <label for="show">Отобразить</label>

        </form>

        <div class="content" ng-show="content">
        Список книг
            <p ng-repeat="book in books">
            <strong>Название:</strong> {{book.name}}, <strong>Автор:</strong> {{book.author}}
            </p>
        </div>

        <script src="js/step5/app.js"></script>
        <script src="js/step5/controllers.js"></script

    </body>

</html>
