<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Фильтрация книг по жанру / Сортировка по имени</title>
        <script src="../libs/angular.min.js"></script>
        <script src="../libs/angular-resource.min.js"></script>
    </head>

    <body ng-controller="BookListCtrl">

        Найти по имени:
        <input ng-model="query"><br>
        Фильтр по жанру
        <select name="" id="" ng-model="genre">
            <option value="">--Please select--</option>
            <option ng-repeat="book in books | unique:'genre'">{{book.genre}}</option>
        </select><br>

        Сортировать по:
        <select ng-model="orderProperty">
            <option value="price">Цене</option>
            <option value="pages">Количеству страниц</option>
            <option value="name">Имени</option>
        </select>

        <ul>
            <li ng-repeat="book in books | filter:query | filter:genre | orderBy:orderProperty">
                <h3>{{book.name | uppercase}}</h3>
                <p>{{book.author}}</p>
                <p>Страниц:
                    {{book.pages}}, цена:
                    {{book.price | currency: 'RUB'}}</p>
                <p>Жанр книги: {{book.genre}}</p>
            </li>
        </ul>

        <p ng-show="query">
            Выведены книги, содержащие
            {{query}}
        </p>

        <script src="js/step6/app.js"></script>
        <script src="js/step6/controllers.js"></script>
        <script src="js/step6/service.js"></script>


    </body>

</html>
