form {
	width: 30%;
}

.hide {
	display: none;
}

img[data-role="xml-request-user-profile-avatar"], img[data-role="json-request-user-profile-avatar"] {
  border-radius: 50%;
}

div span {
	display: block;
	font-size: 16px;
	font-family: Arial;
	margin-bottom: 3px;
	color: #17beac;
}

div[data-role="xml-request-error"], div[data-role="json-request-error"] {
	color: red;
	margin: 3px 0;
}

.loader {
  margin: 5em auto;
}

.loader--circularSquare {
  width: 0;
  height: 0;
  box-shadow: -0.625em -0.625em 0 0.625em #9b59b6, 0.625em -0.625em 0 0.625em #9b59b6, -0.625em 0.625em 0 0.625em #9b59b6, 0.625em 0.625em 0 0.625em #9b59b6;
  animation: circSquare 1.5s ease-in-out infinite;
}
@keyframes circSquare {
  50% {
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    transform: rotate(0.5turn);
    box-shadow: -2.5em 0 0 #2ecc71, 2.5em 0 0 #e74c3c, -2.5em 0 0 #3498db, 2.5em 0 0 #f1c40f;
  }
  80%, 100% {
    transform: rotate(1turn);
  }
}
