.reviews-block {
  padding-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: #86878b; }
  .reviews-block h1 {
    color: #212121; }
    .reviews-block h1::after {
      background-color: #ff8b38; }

.description {
  margin-bottom: 55px; }

.reviews {
  font-size: 0; }

.review {
  width: 273px;
  padding: 0 25px;
  margin: 0 70px 0 0;
  display: inline-block;
  vertical-align: top;
  text-align: left; }
  .review:nth-child(3n) {
    margin-right: 0; }

.review-text {
  font-size: 14px;
  font-style: italic;
  padding: 25px 10px;
  background-color: #f5f5f5;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 23px;
  position: relative; }

.review-text::after {
  content: "";
  border: 10px solid transparent;
  border-top: 10px solid #f5f5f5;
  position: absolute;
  bottom: -20px;
  left: 25px; }

.author-photo {
  float: left;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.author-name {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-bottom: 5px; }

.author-position {
  font-size: 14px; }

.custom-section {
  text-align: center;
  background: url("bckg/bg.jpg");
  background-size: cover;
  padding-top: 67px;
  min-height: 253px; }
  .custom-section h1 {
    color: white; }
    .custom-section h1::after {
      background-color: white; }
  .custom-section p {
    color: white;
    font: 300 16px "Raleway", sans-serif;
    margin-bottom: 33px; }
  .custom-section a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font: 600 15px "Raleway", sans-serif;
    padding: 10px 30px;
    border: 2px solid white; }

.centered-col {
  width: 1110px;
  margin: 0 auto; }

h1 {
  font: 400 36px "Raleway", sans-serif;
  text-transform: uppercase;
  margin: 0 0 50px 0;
  position: relative; }
  h1::after {
    content: "";
    position: absolute;
    left: -webkit-calc(50% - 32px);
    left: calc(50% - 32px);
    top: 72px;
    width: 64px;
    height: 2px; }

p {
  margin-top: 0; }

/*# sourceMappingURL=style.css.map */
