.custom-section {
	text-align: center;
	background: url("bckg/bg.jpg");
	background-size: cover;
	padding-top: 67px;
	min-height: 253px;

	h1 {
		color: $white-color;
		&::after {
			background-color: $white-color;
		}
	}

	p {
		color: $white-color;
		font: 300 16px $header-font;
		margin-bottom: 33px;
	}


	a {
		display: inline-block;
		text-decoration: none;
		color: $white-color;
		font-size: $main-font-size + 1px;
		font: 600 15px $header-font;
		padding: 10px 30px;
		border: $border-height solid $white-color;
		
	}
}