.reviews-block {
	padding-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	color: $main-text-color;
	h1 {
		color: #212121;
		&::after {
			background-color: $orange-color;
		}
	}
}

.description {
	margin-bottom: 55px;
}
.reviews {
	font-size: 0;
}
.review {
	width: 273px;
	padding: 0 25px;
	margin: 0 70px 0 0;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	
	&:nth-child(3n) {
		margin-right: 0;
	}
}

.review-text {
	font-size: $main-font-size;
	font-style: italic;
	padding: 25px 10px;
	background-color: $background-color;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	margin-bottom: 23px;
	position: relative;

}
.review-text::after {
	content: "";
	border: 10px solid transparent;
	border-top: 10px solid $background-color;
	position: absolute;
	bottom: -20px;
	left: 25px;
}

.author-photo {
	float: left;
	margin-right: 15px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.author-name {
	font-size: 20px;
	font-weight: 700;
	color: #333;
	margin-bottom: 5px;
}

.author-position {
	font-size: $main-font-size;

}