//variables

$main-font: "Open Sans", sans-serif;
$main-font-weight: 400;
$main-font-size: 14px;
$main-text-color: #86878b;
$white-color: white;
$header-font: "Raleway", sans-serif;
$header-font-size: 36px;
$background-color: #f5f5f5;
$orange-color: #ff8b38;
$border-height: 2px;