@import "variables";
@import "reviews";
@import "custom";

.centered-col {
	width: 1110px;
	margin: 0 auto;
}

h1 {
	font: $main-font-weight $header-font-size $header-font;
	text-transform: uppercase;
	margin: 0 0 50px 0;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		left: -webkit-calc(50% - 32px);
		left: calc(50% - 32px);
		top: 72px;
		width: 64px;
		height: $border-height;
	}
}

p {
	margin-top: 0;
}
