body {
	margin: 0;
	background: url("bg_opt.jpg") #ffffff center fixed no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;

}

.car {
	background: url("auto.png") no-repeat;
	width: 1024px;
	height: 350px;
	position: fixed;
	left: 0;
	bottom: 0px;
	-webkit-animation: car-move 5s linear 2s normal forwards 1;
	        animation: car-move 5s linear 2s normal forwards 1;
}


@-webkit-keyframes car-move {
	0% { left: 0; }
	66% { left: calc(100% - 1024px); }
	100% { left: calc(50% - 1024px / 2); }
}


@keyframes car-move {
	0% { left: 0; }
	66% { left: calc(100% - 1024px); }
	100% { left: calc(50% - 1024px / 2); }
}

.car:hover {
	-webkit-animation-play-state: paused;
	        animation-play-state: paused;
}