body { margin: 0; }

.btn {
	width: 100px;
	padding: 10px 5px;
	margin-bottom: 10px;
	margin-left: 10px;
	background: #f0f20b;
	color: blue;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	transition: background 2s linear;

}



.btn:hover {
	background: #16d022;
	
}

.btn:active {
	background: #ab4519;

}

.left {
	height: 300px;
	width: 600px;
	background-color: #40b7b3;
	-webkit-transform: translateX(-80%);
	    -ms-transform: translateX(-80%);
	        transform: translateX(-80%);
	transition: -webkit-transform 0.5s ease-out;
	transition: -ms-transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
}

.left:hover {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}


