.wrapper {
	width: 600px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	width: 100%;
	clear: both;
}
.left {
	float: left;
}

.right {
	float: right;
}


.gradient-block {
	width: 271px;
	height: 160px;
	margin-bottom: 50px;
}

.linear {
	background-image: -webkit-linear-gradient(324deg, #ff6e02 0%, #ffff00 50%, #ff6d00 100%);
	background-image: linear-gradient(126deg, #ff6e02 0%, #ffff00 50%, #ff6d00 100%);
}

.radial {
	background-image: -webkit-radial-gradient(circle, #290a59, #ff7c00);
	background-image: radial-gradient(circle closest-side, #290a59, #ff7c00);
}

.transform-block, .flip-block {
	width: 250px;
	height: 100px;	

}

.scale {
	background-color: #A36FCE;
	-webkit-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}

.scale:hover {
	-webkit-transform: scale(2);
	    -ms-transform: scale(2);
	        transform: scale(2);
}


.flip-block {
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;

}

.front {
    background: red;
    z-index: 10;
}

.face {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    color: white;
    height: 100%;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.back {
    background: green;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}


.container:hover .flip-block {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
